Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DWC_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DWC_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="User_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer_PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer_Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer_StreetName_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer_Suburb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Invoices" nillable="true" type="tns:ArrayOfInvoice" />
      <xs:element minOccurs="0" name="ShoppingCarts" nillable="true" type="tns:ArrayOfShoppingCart" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="tns:Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoice" nillable="true" type="tns:ArrayOfInvoice" />
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cart_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="Invioce_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Invioce_TotalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Invoice_No" type="xs:int" />
      <xs:element minOccurs="0" name="Invoice_TAXNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShoppingCart" nillable="true" type="tns:ShoppingCart" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="ShoppingCart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cart_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Cart_Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cart_Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="Invoices" nillable="true" type="tns:ArrayOfInvoice" />
      <xs:element minOccurs="0" name="ShoppingCartBridges" nillable="true" type="tns:ArrayOfShoppingCartBridge" />
      <xs:element minOccurs="0" name="USER_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCart" nillable="true" type="tns:ShoppingCart" />
  <xs:complexType name="ArrayOfShoppingCartBridge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCartBridge" nillable="true" type="tns:ShoppingCartBridge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCartBridge" nillable="true" type="tns:ArrayOfShoppingCartBridge" />
  <xs:complexType name="ShoppingCartBridge">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bridge_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Bridge_Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Cart_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Product_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ShoppingCart" nillable="true" type="tns:ShoppingCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCartBridge" nillable="true" type="tns:ShoppingCartBridge" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product_Availability" type="xs:boolean" />
      <xs:element minOccurs="0" name="Product_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_DiscountAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Product_DiscountStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Product_Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ShoppingCartBridges" nillable="true" type="tns:ArrayOfShoppingCartBridge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfShoppingCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCart" nillable="true" type="tns:ShoppingCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCart" nillable="true" type="tns:ArrayOfShoppingCart" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
</xs:schema>